button img  {
    width: 10px;
    border-radius: 3px;
}
button{
    margin: 2%;
    border-radius: 50%;
    border: none;
    height: 2.5em;
    width: 2.5em;
    background: #ffffff2b;
    outline: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover{
    background-color: #ffffff;

}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(15, 109, 109);
    background-image: url(" https://source.unsplash.com/1600x600/?clouds ");
}

.container{
    background-color: rgba(107, 91, 91, 0.676); 
    color: rgb(0, 0, 0);
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    padding: 1cm;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;  
}

.search-bar{
    border: none;
    outline: none;
    padding: 0.3em;
    border-radius: 24px;
    background-color:rgb(245, 230, 230);
    font-family: inherit;
    font-size: 110%;
    width:calc( 100% - 100px); 
}

h1.temp {
    margin: 0;
    margin-bottom: 0.9em;
}


.description{
    text-transform: capitalize;
    font-size:18px ;
    margin: left 10px; ;
}
.flex{
    display: flex;
    align-items: center;
}

.weather.loading {  
    visibility: hidden;
    max-height: 20px;
    overflow: hidden;
}
.weather.loading:after{
    visibility: visible;


}

header{
    padding-bottom: 30%;

    margin-right: 6%;

}